@model ResponseModel<UserRole>

@{
	Layout = null;
}

<div class="col-md-12" style="margin-bottom: -21px;">
	<div class="card card-info">

		<div class="card-header">
			<h3 class="card-title">@(Model.Obj != null && Model.Obj.Id > 0 ? "Edit" : "Create") Role</h3>
			<input type="text" class="form-control d-none" id="Id" name="Id" value="@(Model.Obj != null && Model.Obj.Id > 0 ? Model.Obj.Id.ToString() : "")">
		</div>

		<div class="card-body form-horizontal">
			
				
					<div class="form-group row mt-1">
						<label for="Name" class="col-2 col-form-label">Name<span style="color:red">*</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control form-control-sm" id="Name" name="Name" value="@Model.Obj.Name"
								   data-required data-msg="The Role Name field is required." placeholder="Role" autocomplete="off">
						</div>						
					</div>

					@if (Common.IsSuperAdmin())
					{
						<div class="form-group row mt-1">
							<label for="IsAdmin" class="col-sm-2 col-form-label">Admin</label>
							<div class="col-sm-4">
								<div class="form-check form-check-inline form-control border-0">
									<input type="checkbox" class="form-check-input"
										   id="switch_Admin" name="IsAdmin" @(Model.Obj == null || Model.Obj.IsAdmin == true ? "checked" : "")
										   onchange="fnChange_Switch(this, 'label_Switch_Admin')">
									<label class="form-check-label" for="switch_Admin" id="label_Switch_Admin" data-true="Active" data-false="Inactive">@((Model.Obj != null && Model.Obj.IsAdmin == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Active" : "Inactive")</label>
								</div>
							</div>

							<label for="IsAdmin" class="col-sm-2 col-form-label">Admin</label>
							<div class="col-sm-4">
								<div class="form-check form-check-inline form-control border-0">
									<input type="checkbox" class="form-check-input"
										   id="switch_Admin" name="IsAdmin" @(Model.Obj == null || Model.Obj.IsAdmin == true ? "checked" : "")
										   onchange="fnChange_Switch(this, 'label_Switch_Admin')">
									<label class="form-check-label" for="switch_Admin" id="label_Switch_Admin" data-true="Active" data-false="Inactive">@((Model.Obj != null && Model.Obj.IsAdmin == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Active" : "Inactive")</label>
								</div>
							</div>
						</div>
					}

					<div class="form-group row">
						@if (Common.IsAdmin())
						{
							var selectedValue = Model.Obj.CreatedDate_Text.Split(',').ToList();


							<label class="col-2 col-form-label">Select Menu</label>
							<div class="col-sm-4 d-flex flex-wrap">
								<select multiple id="selectMenu" class="form-control form-control-sm select2 w-100" onchange="fnChange_Select('Menu')">
									<option value="">-- Select --</option>
									@if (Model.SelectListItems != null)
									{
										foreach (var item in Model.SelectListItems.Where(x => x.Group == "M"))
										{
											if (selectedValue != null && selectedValue.Any(x => x == item.Value))
											{
												<option value="@item.Value" selected>@item.Text</option>
											}
											else
											{
												<option value="@item.Value">@item.Text</option>
											}
										}
									}
								</select>

								<input type="text" id="inputMenu" name="CreatedDate_Text" value="@Model.Obj.CreatedDate_Text" class="d-none" />
							</div>

						}

						<label for="IsActive" class="col-2 col-form-label">Status</label>
						<div class="col-sm-4">
							<div class="form-check form-check-inline form-control border-0">
								<input type="checkbox" class="form-check-input"
									   id="switch_Status" name="IsActive" @(Model.Obj == null || Model.Obj.IsActive == true || Model.Obj.Id == 0 ? "checked" : "")
									   onchange="fnChange_Switch(this, 'label_Switch_Status')">
								<label class="form-check-label" for="switch_Status" id="label_Switch_Status" data-true="Active" data-false="Inactive">@((Model.Obj != null && Model.Obj.IsActive == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Active" : "Inactive")</label>
							</div>
						</div>
						
					</div>

					
					

				
			
		</div>

		<div class="card-footer text-center">

			<button type="submit" class="btn btn-success btnSubmit">Save</button>
			<button type="button" class="btn btn-danger" onclick="fnBackToList('@Url.Action("Index", "Role", new { area = "Admin" })')">Cancel</button>

		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});
	</script>
}
