@model ResponseModel<Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}
@section Styles {
    <style type="text/css">
        .select2-container .select2-selection--multiple .select2-selection__rendered {
            display: contents !important;
        }
    </style>
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide"
                        onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm","Project", new {  area = "Admin" })');">
                    <i class="fas fa-plus"></i> &nbsp; Add New
                </button>
                @* } *@
                <button type="button" id="btnBackToList" class="btn btn-warning btn-md pull-right mr-2 divformSave_Display d-none" onclick="fnBackToList();">
                    <i class="fas fa-arrow-left"></i> &nbsp; Back To List
                </button>
            </div>
            <h4 class="page-title">Project</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header p-0 divformSave_Display d-none">
                <form id="formSave" action="@Url.Action("Save","Project", new {  area = "Admin"})" method="post">
                    <div class="row no-gutters" id="divformSave"></div>
                </form>
            </div>
            <div class="card-body divformSave_Hide">
                <div class="row no-gooters ">
                    <div class="col-md-12 my-1">
                        <div class="responsive-table-plugin">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table class="table table-sm table-bordered table-striped dt-responsive nowrap w-100 table_Common_SrNo">
                                        <thead>
                                            <tr>
                                                <th class="no_sorting">#</th>
                                                <th>Project Title</th>
                                                <th>Client</th>
                                                <th>Start Date | End  Date</th>
                                                <th>Services</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model.ObjList != null)
                                            {
                                                foreach (var item in Model.ObjList)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@item.ProjectTitle</td>
                                                        <td>@item.Client_Name</td>
                                                        <td>@item.StartDate?.ToString(Common.DateTimeFormat_ddMMMyyyy) | @item.EndDate?.ToString(Common.DateTimeFormat_ddMMMyyyy)</td>
                                                        <td>@item.Service_Names</td>
                                                        <td>@item.Status_TEXT</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                
                                                                    <button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
                                                                        onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "Project", new { area = "Admin" })?Id=@item.Id');">
                                                                        <i class="ri-pencil-fill"></i>
                                                                    </button>
                                                               
                                                                    <button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
                                                                            onclick="fnDelete_Confirm('@Url.Action("DeleteConfirmed","Project", new {  area = "Admin" })?Id=@item.Id');">
                                                                        <i class="ri-delete-bin-2-line"></i>
                                                                    </button>
                                                                
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div> 

                            </div> 
                        </div> 
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> 
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // let selectedServices = $("#Service_Ids").val();

            // if (selectedServices && selectedServices.length > 0 && !selectedServices.includes("0")) {
            //     loadProjectFeatures($("#Service_Ids"));
            // }
        });


        function loadProjectFeatures(element) {

            let selectedServices = $(element).val();
            let projectId = $("#Id").val();

            if (!selectedServices || selectedServices.length === 0 || selectedServices.includes("0")) {
                $('#projectFeatureSection').addClass('d-none');
                $('#ProjectFeatureList_Table tbody').html('');
                return;
            }

            $('#projectFeatureSection').removeClass('d-none');

            $.ajax({
                url: '@Url.Action("GetProjectFeatureList", "Project", new { area = "Admin" })',
                type: 'GET',
                data: {
                    Service_Ids: selectedServices.join(','),
                    Id: projectId   // ✅ PASS HERE
                },

                success: function (response) {

                    let tbody = '';
                    let index = 0;
                    let grouped = {};

                    // 🔹 Grouping
                    $.each(response, function (i, item) {
                        if (!grouped[item.ServiceId]) {
                            grouped[item.ServiceId] = {
                                serviceName: item.Service_Name,
                                items: []
                            };
                        }
                        grouped[item.ServiceId].items.push(item);
                    });

                    // 🔹 Build UI
                    $.each(grouped, function (serviceId, group) {

                        tbody += `
                            <tr class="table-primary">
                                <td colspan="3"><strong>${group.serviceName}</strong></td>
                            </tr>
                        `;

                        $.each(group.items, function (i, item) {

                            let isChecked = item.IsIncluded ? "checked" : "";
                            let notes = item.Notes || "";
                            let id = item.Id || 0;
                            let projId = item.ProjectId || projectId;

                            tbody += `
                                <tr id="tr_${index}">
                                    <td>
                                        <input type="hidden" name="ProjectFeatureList[${index}].Id" value="${id}" />
                                        <input type="hidden" name="ProjectFeatureList[${index}].ProjectId" value="${projId}" />
                                        <input type="hidden" name="ProjectFeatureList[${index}].ChecklistId" value="${item.ChecklistId}" />
                                        ${item.Project_Feature_Name}
                                    </td>

                                    <td>
                                        <div class="form-check form-check-inline form-control border-0">

                                            <input type="hidden" name="ProjectFeatureList[${index}].IsIncluded" value="false" />

                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   id="switch_Status_${index}"
                                                   name="ProjectFeatureList[${index}].IsIncluded"
                                                   value="true"
                                                   ${isChecked}
                                                   onchange="fnChange_Switch(this, 'label_Switch_Status_${index}')">

                                            <label class="form-check-label"
                                                   for="switch_Status_${index}"
                                                   id="label_Switch_Status_${index}"
                                                   data-true="Yes"
                                                   data-false="No">
                                                ${isChecked ? "Yes" : "No"}
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <textarea rows="4"
                                                  class="form-control form-control-sm"
                                                  name="ProjectFeatureList[${index}].Notes"
                                                  placeholder="Notes">${notes}</textarea>
                                    </td>
                                </tr>
                            `;

                            index++;
                        });
                    });

                    $('#ProjectFeatureList_Table tbody').html(tbody);
                },

                error: function () {
                    alert('Error loading features');
                }
            });
        }


        function fnChange_Switch(checkbox, labelId) {
            let label = document.getElementById(labelId);

            if (checkbox.checked) {
                label.innerText = label.getAttribute("data-true");
            } else {
                label.innerText = label.getAttribute("data-false");
            }
        }
    </script>
}

